@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'BlackClover';
    src: url('../assets/fonts/BlackCloverFont.woff') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --cor-default: #fff;
    --cor-default2: black;
    --font-blackcover: 'BlackClover';
    --font-default: "Roboto", sans-serif;

    /*cores tematicas no anime*/

    /*asta criança*/
    --asta-color1: #BDBDB0;
    --asta-color2: #3F4831;
    --asta-color3: #282923;
    --asta-color4: #9F8C79;
    --asta-color5: #483835;

    /*asta adulto*/

    --astaG-color1: #222222;
    --astaG-color2: #EFE2C6;
    --astaG-color3: #3A5A7E;
    --astaG-color4: #905A32;
    --astaG-color5: #BFA445;
    --astaG-color6: #B8B8C5;
    --astaG-color7: #B33A34;
    --astaG-color8: #635348;
    --astaG-color9: #3C3B32;
    --astaG-color10: #F7C89D;

    /*asta demonio*/

    --astaD-color1: #B11011;
    --astaD-color2: #E13C2D;
    --astaD-color3: #F72E2E;
    --astaD-color4: #6B0F0D;
    --astaD-color5: #F86442;
    --astaD-color6: #DDA24D;
    --astaD-color7: #060606;
    --astaD-color8: #1B0C0C;
    --astaD-color9: #353437;

}

/* LOGIN */

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;

    background-image: url('../assets/imagens/image-login.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-home {
    position: absolute;
    top: 3%;
    left: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;

    padding: 0.7rem 3rem;
    background-color: var(--astaD-color1);

    border: none;
    border-radius: 8px;

    font-weight: 600;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}

.btn-home i{
    font-size: 1rem;
}

.btn-home:hover {
    background-color: #b11010b2;
    transform: scale(0.98);
}

.content-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 35%;

    background-image: url('../assets/imagens/papel-login.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.content-login-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 30%;
}

.login-row-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    height: 25%;
}

.login-row-text p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000b0;

    padding: 0;
    margin: 0;
}

.divisao-titulo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 4%;
    background-color: var(--astaD-color1);
}

.divisao-titulo-login img {
    height: 50px;
}

.text-login {
    text-align: center;
    width: 65%;

    transform: translateY(50%);
    font-size: 1.2rem !important;
}

.login-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 40%;
}

.login-row-title h1 {
    font-size: 5rem;
}

.login-row-title h1 span {
    color: var(--astaD-color1);
}

.form-campo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 0.5vw;
    width: 75%;
    height: 40%;
}

.form-campo span {
    font-weight: 600;
    font-size: 1.2rem;
}

.form-campo i.fa-envelope,
.form-campo i.fa-lock {
    position: absolute;
    left: 3%;
    top: 57.5%;

    color: var(--asta-color4);
}

.form-campo input {
    background-color: transparent;
    border-radius: 5px;

    padding-left: 3rem;

    height: 35%;
    width: 90%;

    border: 2px solid rgba(0, 0, 0, 0.4);
}

.login-row-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-logar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55%;
    width: 75%;

    font-size: 1.6rem;
    color: rgb(255, 255, 255);

    background-color: var(--astaD-color1);
    border-radius: 15px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.login-row-button button img {
    height: 30px;
}

.login-row-divisao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 5%;
}

.login-row-divisao span {
    width: 40%;
    height: 2px;
    background-color: black;
}

.login-row-divisao p {
    font-weight: 500;
}

.btn-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 75%;
    gap: 0.5vw;

    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(0, 0, 0);

    background-color: transparent;
    border: 1px solid var(--astaD-color1);
    border-radius: 15px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastrar span {
    color: var(--astaD-color1);
}

.btn-cadastrar:hover {
    border: 1px solid black;
    transform: scale(0.98);
}

.btn-logar:hover {
    background-color: #b11010d7;
    transform: scale(0.98);
}

/*Cadastro*/

.container-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;

    background-image: url('../assets/imagens/image-login.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 35%;

    background-image: url('../assets/imagens/papel-login.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.content-cadastro-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 30%;
}

.cadastro-row-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    height: 25%;
}

.cadastro-row-text p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000b0;

    padding: 0;
    margin: 0;
}

.divisao-titulo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 4%;
    background-color: var(--astaD-color1);
}

.divisao-titulo-cadastro img {
    height: 50px;
}

.text-cadastro {
    text-align: center;
    width: 65%;

    transform: translateY(50%);
    font-size: 1.2rem !important;
}

.cadastro-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 40%;
}

.cadastro-row-title h1 {
    font-size: 4rem;
}

.cadastro-row-title h1 span {
    color: var(--astaD-color1);
}

.c-form {
    height: 44%;
}

.c-campo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 22%;
    width: 85%;
    gap: 0.3vh;
}

.c-campo-duble {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18%;
    width: 85%;
}

.c-sub-campo {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    gap: 0.3vh;
}

.c-form span {
    font-weight: 600;
    font-size: 1.1rem;
}

.c-campo input {
    background-color: transparent;
    border-radius: 5px;

    padding-left: 3rem;

    height: 40%;
    width: 90%;

    border: 2px solid rgba(0, 0, 0, 0.4);
}

.c-sub-campo input {
    background-color: transparent;
    border-radius: 5px;

    padding-left: 3rem;

    height: 45%;
    width: auto;

    border: 2px solid rgba(0, 0, 0, 0.4);
}

.i-user,
.i-cpf,
.i-email,
.i-senha,
.i-confirm-senha {
    position: absolute;
    font-size: 1rem;

    color: var(--asta-color4);
}

.i-user {
    top: 28%;
    left: 10%;
}

.i-cpf {
    top: 47.2%;
    left: 10%;
}

.i-email {
    top: 47.2%;
    left: 54.3%;
}

.i-senha {
    top: 68.1%;
    left: 10%;
}

.i-confirm-senha {
    top: 90.1%;
    left: 10%;
}

.content-cadastro-row-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 16%;
}

.cadastro-row-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
}

.btn-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 95%;

    font-size: 1.2rem;
    color: rgb(255, 255, 255);

    background-color: var(--astaD-color1);
    border-radius: 15px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastro img {
    height: 30px;
}

.btn-cadastro:hover {
    background-color: #b11010d7;
    transform: scale(0.98);
}


.btn-c-logar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 95%;
    gap: 0.5vw;

    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(0, 0, 0);

    background-color: transparent;
    border: 1px solid var(--astaD-color1);
    border-radius: 15px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.btn-c-logar span {
    color: var(--astaD-color1);
}

.btn-c-logar:hover {
    border: 1px solid black;
    transform: scale(0.98);
}

/*erros e loading*/

.loading-div {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10%;
    height: 68%;
    z-index: 10000;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;

    position: absolute;
    top: 40%;
    left: 40%;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;

    z-index: 10000000;
}

.card_erro i {
    position: absolute;
    top: 5%;
    right: 3%;

    font-size: 1.4rem;
    color: var(--astaD-color1);

    cursor: pointer;
    transition: color 0.3s;
}

.card_erro i:hover {
    color: #b110109d;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 80%;
    color: var(--astaD-color1) !important;
}